extends layout

block content
	h1(style="font-size:34px; text-align: center; color:#234FFF;")= title
	div
		div(style="float:left;")
			img(src="https://elreflejoenlaventana.files.wordpress.com/2014/05/salas_de_espera_web.jpg")
		div(style="float:left;width:100px;margin:15px;padding:10px;")
			form
				input.campo(placeholder="Nombre")
				input.campo(placeholder="Apellido")
				input.campo(placeholder="Correo Electronico")