extends layout

block content

	div.main
		
		div.logo
			img(src="/images/logo.png")
		div.cuerpo
			div(style="width:46%;margin:15px;padding:10px; display: inline-block;")
				h1.title Esperimenta una forma diferente de gestionar turnos
				div(style="margin:0 auto; text-align: center;")
					form(action="/users" method="get")
						input.campo(placeholder="Nombre", name="name" required)
						input.campo(placeholder="Apellido" name="last" required)
						input.campo(placeholder="Correo Electronico",type="email" name="mail" required)
						input.cta(type="submit" value="Conviértete en pionero")
			div(style="display:inline-block; width:50%; text-align: center;")
				img(src="/images/salas_de_espera_web.jpg")
		div.beneficios
			div(style="width:46%; margin:15px; padding:10px; display:inline-block;")
				ul
					li Mas usuarios satisfechos
					li Ahorro de espacio
					li Seguimiento a la atencion de usuarios	
			div(style="display:inline-block; width:50%; ")
				ul
					li Agenta automatica de citas
					li Optimizacion de recurso humano
					li Automatizacion de citas
div Andres Padilla @anarpafran
			
