extends layout

block content

	div.main
		
		div.mdo-titulo
			h3 viernes, 31.10.2014
			h1 CENTRO DE SERVICIO
		div.mdo-cuerpo
			div(style="width:20%;margin:15px;padding:10px; display: inline-block;")
				h3 NUMERO ACTUAL				
			div(style="display:inline-block; width:20%; text-align: center;")
				h1.title 11:30
			div.turno_actual
				div 0
				div 0
				div 1
				div 4
			div.turno_accion
				div NO HA ACUDIDO >
				div(style="background: #26A5DD;") SIGUIENTE NUMERO > 
		div.reset
		div.mto-pie 
			div.estadistica
				img(src="/images/fila.png")
				span 2
				div Siguientes numeros:
				div 15
				div	16
			div.imprimir
				div IMPRIMIR TURNO >
				div NUMERO 17
			div.opciones 
				div 
					img(src="/images/reload.png")
					span Repetir
				div 
					img(src="/images/menu.png")

		div.reset
	div Andres Padilla @anarpafran
			
